* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid gray;
}

.hidden {
    display: none;
}